
.nav-container{
  width:90px;
  margin-top:10px;
  /*box-shadow: 0 2px 2px 2px black;*/
  transition: all 0.3s linear;
  height: 100%;
  position:fixed;

}
 span.text{
  font-size: 10px;
}
 .nav{
  list-style-type:none;
  margin:0;
  padding:0;
}
 li{
  height:75px;
  position:relative;
  /*background: linear-gradient(#292929, #242424);*/
  background: white;
}
 a {
  /*border-top: 1px solid rgba(255,255,255,0.1);*/
 /* border-bottom: 1px solid black;*/
  text-decoration:none;
  text-align: center;
  display:block;
  height:100%;
  width:100%;
  line-height:50px;
  color:#bbb;
  /*  text-transform: capitalize;*/
  padding-left:25%;
 /* border-left:5px solid transparent;*/
  letter-spacing:0.5px;
  transition: all 0.3s linear;
}

li:not(.active):hover a{
  color: #020303;
  border-left: 5px solid #FCFCFC;
  background-color: #1B1B1B;
  background-color: transparent;
}
 span[class ^= "glyphicon"]{
  position:absolute;
  left:35px;
  font-size: 1.3em;
  transition: all 0.3s linear;
}
 .toggle-nav-container, .hamburger{
  display: none;
}

@media only screen and (max-width:768px){
  .nav-container{
    width: 100%;
  }
  .toggle-nav-container{
    color: lightcyan;
    background-color: #000;
    display:block;
    height:40px;
  }
  span.text{
  color: lightcyan;
  }
  .hamburger{
    display:block;
    margin-right:15px;
    float:right;
    font-size: 28px;
  transform:rotate(90deg);
    height:40px;
  }
  .hamburger:hover{
    cursor: pointer;
  }
  li{
    display:block;
    border-bottom: 1px dotted #000;
    height:40px;
    vertical-align: middle;
  }
span[class^="glyphicon"]{
  display:none;
}
a {
  display:block;
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
font-size: 20px;
  padding: 10px;
  vertical-align: middle;
  line-height: 20px;

}
  li:last-child{
  border-bottom: 3px solid #000;
}
  ul{
    display: none;
  }

}

/*@media only screen and (max-width : 768px){

 !* .text{
    display:none;
  }*!
  .toggle-nav{
    display: block;
    height: 480px;
    width: 350px;
    border-bottom: 1px dotted #000;
  }
  !*.nav-container , a{
    float: right;
    width: 70px;
    display: block;
  }*!
!*  a:hover{
    width:100px;
    z-index:1;
   !* border-top: 1px solid rgba(255,255,255,0.1);*!
   !* border-bottom: 1px solid black;*!
    !*box-shadow: 0 0 1px 1px black;*!
  }*!
  !*a:hover  .text {
    display:block;
    padding-left:30%;
    text-align: center;
    font-size: small;
  }*!
}*/
/*@media only screen and (max-width : 480px){
  .nav-container, a{ width:50px;}
  span[class ^= "glyphicon"]{ left:8px;}
}*/
/*
@media screen and (max-width:600px){
  .nav-container.{
    display: none;
  }
  .nav-container span.glyphicon{
    float: left;
    display: block;
  }
}
@media screen and (max-width: 600px){
  .nav-container.responsive {
    position: relative;
  }
  .nav-container.responsive span.glyphicon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-container.responsive span {
    float:none;
    display: block;
    text-align: left;
  }
}
*/
